{% import "Header.html" as header %}
{{ header.header("Account", current_user) }}
		<div class="first-account-image">
			<div class="first-account-image-form">
				<h1 align="center"><i>Account</i></h1>
				<hr>
				<h2 align="center">Welcome back!</h2>
				<p align="center">You can view your favorites here.</p>
				<hr>
				<h2 align="center">Favorites</h2>
				<table>
				<tbody>
					{% for place in locations %}
						<tr>
						<td><p> {{place.address}} </p></td>
						<form action="/delete_fav" method="get">
							<td><button type = "Submit" value = "{{place.address}}" name="location"> Delete </button></td>
						</form>
						</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
{% include "Footer.html" %}
