<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contact | NYU CTIP</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='style.css') }}"
		>
	</head>
	<body>
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">About</a>
				<div class="dropdown-content">
					<a href="/About">Introduction</a>
					<a href="/privacy-policy">Privacy Policy</a>
					<a href="/terms-of-use">Terms of Use</a>
				</div>
			</li>
			<li><a href="/Contact">Contact</a></li>
			<li><a href="/view">View Saved Locations</a></li>
			<li><a href="/departures">Departure List</a></li>
			{% if current_user.is_authenticated %}
			<li style="float:right"><a class="active" href="/logout">Logout</a></li>
			{% else %}
			<li style="float:right"><a class="active" href="/login">Register/Login</a></li>
			{% endif %}		
		</ul>
		<div class="text">
			<h1 align="center"><i>Contact</i></h1>
			<hr>
			<h2>Got a question?</h2>
			<p>Please email <b><a href="mailto:info@nyuctip.com?Subject=Customer%20Support" target="_top">info@nyuctip.com</a></b> with a detailed description of any issues you may be experiencing when using our site so that we can better assess them.</p>
		</div>
		<div class="footer-one">
			<div class="main-container">
				<div class="fixer-container">
					<ul>
						<li><a href="/terms-of-use">Terms of Use</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-two">
			<p>&copy; 2017 New York University Campus Transportation Itinerary Planner</p>
			<p>All Rights Reserved</p>
			<img src="{{ url_for('static', filename='miny_wht_on_trans.gif') }}" alt="Made in NY Logo" width="50" height="50">
		</div>
	</body>
</html>