{% import "Header.html" as header %}
{{ header.header(document_title, current_user) }}
		<div id="first-departures-image" class="first-departures-image form-section">
			<div class="first-departures-image-form-one form-container">
				<p>Select a bus stop and a time to view departure times from that stop after that time and then click or press <i>List Departures</i>.</p>
				<form action="#output" method="get">
					<h1>Where</h1>
					<div class="form-table">
						<label>
							<span>Origin</span>
							<div>
								<select name="orig" id="select-orig">
								{%
									for stop in stops
								%}
									<option{%
										if stop == origin
									%} selected{%
										endif
									%}>{{ stop|e }}</option>{%
									endfor
								%}
								</select>
							</div>
						</label>
					</div>
					<h1>When</h1>
					<div class="form-sentence">
						<div class="form-sentence-word">
							<div class="custom-select">
								<select id="select_day" name="day">
								{%
									for day, selected in weekdays_checked
								%}
									<option{% 
										if selected
									%} selected{%
										endif
									%}>{{ day }}</option>{%
									endfor
								%}
								</select>
							</div>
							<input type="time" name="when" id="time_when" value="{{ when }}">
							<div id="use-now"><!--
								The button is added by JavaScript.
							--></div>
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" value="List Departures">
						<a href="{{ request.path }}" class="link-button">Reset</a>
					</div>
				</form>
			</div>
			<div class="first-departures-image-form-two form-container">
				<h1 align="center">Note</h1>
				<hr>
				<p>Please note that the image is static and does not display your route.</p>
				<hr>
				<p>Not what you were looking for? Click the button below to go back to the <i>Itinerary Finder</i>.</p>
				<div class="form-actions">
					<a href="/" class="link-button">Itinerary Finder</a>
				</div>
			</div>
		</div>
		<div id="output">{{ output_escaped|safe }}</div>
		<script type="text/javascript" src="{{ url_for('static', filename='custom-select.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='app.min.js') }}"></script>
{% include "Footer.html" %}
