		<div class="footer-one">
			<div class="main-container">
				<div class="fixer-container">
					<ul>
						<li><a href="/terms-of-use">Terms of Use</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-two">
			<p>&copy; 2017 New York University Campus Transportation Itinerary Planner</p>
			<p>All Rights Reserved</p>
			<img src="{{ url_for('static', filename='miny_wht_on_trans.gif') }}" alt="Made in NY Logo" width="50" height="50">
		</div>
	</body>
</html>
