{% macro header(document_title, current_user) %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% if document_title %}{{ document_title }} - {% endif %}NYU CTIP</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="msapplication-TileColor" content="#583285">
		<meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
		<meta property="og:image" content="/static/NYU_CTIP_Logo-Purple.png">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="/static/favicons/apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/favicon-zoom-original.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-zoom-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-zoom-32x32.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/static/favicons/favicon-zoom-64x64.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="128x128" href="/static/favicons/favicon-128x128.png">
		<link rel="icon" type="image/png" sizes="196x196" href="/static/favicons/favicon-196x196.png">
		<link rel="icon" type="image/png" sizes="256x256" href="/static/favicons/favicon-original.png">
	</head>
	<body>
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">About</a>
				<div class="dropdown-content">
					<a href="/About">Introduction</a>
					<a href="/privacy-policy">Privacy Policy</a>
					<a href="/terms-of-use">Terms of Use</a>
				</div>
			</li>
			<li><a href="/Contact">Contact</a></li>
			<li><a href="/view">View Saved Locations</a></li>
			<li><a href="/departures">Departure List</a></li>
			{% if current_user.is_authenticated %}
			<li style="float:right"><a class="active" href="/logout">Logout</a></li>
			{% else %}
			<li style="float:right"><a class="active" href="/login">Register/Login</a></li>
		{% endif %}		
		</ul>
{% endmacro %}
