{% import "Header.html" as header %}
{{ header.header("Register or Login", current_user) }}
		<div class="first-login-image form-section">
			<div class="first-login-image-form first-login-image-form-one form-container form-container-single-column">
				<h1>Register</h1>
				<p>It's totally free!</p>
				<form action="/register" method="post">
					<div class="form-table">
						{{ form_r.hidden_tag() }}
						<div>
							<span>
								{{ form_r.first_name(placeholder="First name*") }}
								{% for error in form_r.first_name.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.last_name(placeholder="Last name*") }}
								{% for error in form_r.last_name.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.email(placeholder = "Email*") }}
								{% for error in form_r.email.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.password(placeholder="Type a password*") }}
								{% for error in form_r.password.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.password2(placeholder="Retype the password*") }}
								{% for error in form_r.password2.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
				
						<div class="form-actions">
							{{ form_r.submit() }}
						</div>
					</div>
				</form>
				<p>* indicates a required field</p>
			</div>
			<div class="first-login-image-form first-login-image-form-two form-container form-container-single-column">
				<h1>Login</h1>
				<p>Welcome back!</p>
				<form action="/login" method="post">
					{{ form_l.hidden_tag() }}
					<div class="form-table">
						<div>
							<span>		
								{{ form_l.email(placeholder = "Email*") }}
								{% for error in form_l.email.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_l.password(placeholder="Type a password*") }}
								{% for error in form_l.password.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
					</div>
					<div class="form-actions">
						<p><a href="/reset_password_request">Forgot password?</a></p>
					</div>
					<div class="form-actions">
						<p>{{ form_l.remember_me() }} {{ form_l.remember_me.label }}</p>	
					</div>				
					<div class="form-actions">
						{{ form_l.submit(class = "button") }}
					</div>
					
				</form>
				<p>* indicates a required field</p>
			</div>
		</div>
{% include "Footer.html" %}
