<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{url_for('static', filename = 'NYU_CTIP_Logo-Purple.png') }}"  type="image/gif" sizes="16x16">
    <title>Register or Login | NYU CTIP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
		rel="stylesheet"
		type="text/css"
		href="{{ url_for('static', filename='style.css') }}"
	>
</head>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li style="float:right"><a class="active" href="/login">Login</a></li>
	</ul>
	<div class="first-login-image">
		<div class="first-login-image-form-one">
			<center><h1><i>Register</i></h1></center>
			<hr>
			<p align="center">It's totally free!</p>
			<form action="/register" method="post">
				{{ form_r.hidden_tag() }}

				{{ form_r.first_name(placeholder="First name*") }}
				{% for error in form_r.first_name.errors %}
            		<span style="color: red;">[{{ error }}]</span>
            	{% endfor %}

            	{{ form_r.last_name(placeholder="Last name*") }}
            	{% for error in form_r.last_name.errors %}
            		<span style="color: red;">[{{ error }}]</span>
            	{% endfor %}

	            {{ form_r.email(placeholder = "Email*") }}
	            {% for error in form_r.email.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}

	            {{ form_r.password(placeholder="Type a password*") }}
	            {% for error in form_r.password.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}

	            {{ form_r.password2(placeholder="Retype the password*") }}
	            {% for error in form_r.password2.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
			
			<div class="main-container">
				<div class="fixer-container">
					{{ form_r.submit(class = "button") }}
				</div>
			</div>
			</form>
			<br><br><br><br>
			<hr>
			<p align="center">* indicates a required field</p>
		</div>
		<div class="first-login-image-form-two">
			<center><h1><i>Login</i></h1></center>
			<hr>
			<p align="center">Welcome back!</p>
			<form action="/login" method="post">
				{{ form_l.hidden_tag() }}
	            {{ form_l.email(placeholder = "Email*") }}
	            {% for error in form_l.email.errors %}
	            	<span style="color: red;">[{{ error }}]</span>
	            {% endfor %}

	            {{ form_l.password(placeholder="Type a password*") }}
	            {% for error in form_l.password.errors %}
	            	<span style="color: red;">[{{ error }}]</span>
	            {% endfor %}

	            <div class="main-container">
					<div class="fixer-container">
						{{ form_l.submit(class = "button") }}
					</div>
				</div>
	            
			</form>
			<p align="right"><a href="/reset_password_request">Forgot password?</a></p>
			
			
			<br><br><br><br>
			<hr>
			<p align="center"><sup>*</sup> indicates a required field</p>
		</div>
	</div>
	<div class="footer-one">
		<div class="main-container">
			<div class="fixer-container">
				<ul>
					<li><a href="/terms-of-use">Terms of Use</a></li>
					<li><a href="/privacy-policy">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-two">
		<p>&copy; 2017 New York University Campus Transportation Itinerary Planner</p>
		<p>All Rights Reserved</p>
		<img src="{{ url_for('static', filename='miny_wht_on_trans.gif') }}" alt="Made in NY Logo" width="50" height="50">
	</div>
</body>
</html>