<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register or Login | NYU CTIP</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='style.css') }}"
		>
	</head>
	<body>
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">About</a>
				<div class="dropdown-content">
					<a href="/About">Introduction</a>
					<a href="/privacy-policy">Privacy Policy</a>
					<a href="/terms-of-use">Terms of Use</a>
				</div>
			</li>
			<li><a href="/Contact">Contact</a></li>
			<li><a href="/view">View Saved Locations</a></li>
			<li><a href="/departures">Departure List</a></li>
			{% if current_user.is_authenticated %}
			<li style="float:right"><a class="active" href="/logout">Logout</a></li>
			{% else %}
			<li style="float:right"><a class="active" href="/login">Register/Login</a></li>
			{% endif %}		
		</ul>
		<div class="first-login-image form-section">
			<div class="first-login-image-form first-login-image-form-one form-container form-container-single-column">
				<h1>Register</h1>
				<p>It's totally free!</p>
				<form action="/register" method="post">
					<div class="form-table">
						{{ form_r.hidden_tag() }}
						<div>
							<span>
								{{ form_r.first_name(placeholder="First name*") }}
								{% for error in form_r.first_name.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.last_name(placeholder="Last name*") }}
								{% for error in form_r.last_name.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.email(placeholder = "Email*") }}
								{% for error in form_r.email.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.password(placeholder="Type a password*") }}
								{% for error in form_r.password.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_r.password2(placeholder="Retype the password*") }}
								{% for error in form_r.password2.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
				
						<div class="form-actions">
							{{ form_r.submit() }}
						</div>
					</div>
				</form>
				<p>* indicates a required field</p>
			</div>
			<div class="first-login-image-form first-login-image-form-two form-container form-container-single-column">
				<h1>Login</h1>
				<p>Welcome back!</p>
				<form action="/login" method="post">
					{{ form_l.hidden_tag() }}
					<div class="form-table">
						<div>
							<span>		
								{{ form_l.email(placeholder = "Email*") }}
								{% for error in form_l.email.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
						<div>
							<span>
								{{ form_l.password(placeholder="Type a password*") }}
								{% for error in form_l.password.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
					</div>
					<div class="form-actions">
						<p><a href="/reset_password_request">Forgot password?</a></p>
					</div>
					<div class="form-actions">
						<p>{{ form_l.remember_me() }} {{ form_l.remember_me.label }}</p>	
					</div>				
					<div class="form-actions">
						{{ form_l.submit(class = "button") }}
					</div>
					
				</form>
				<p>* indicates a required field</p>
			</div>
		</div>
		<div class="footer-one">
			<div class="main-container">
				<div class="fixer-container">
					<ul>
						<li><a href="/terms-of-use">Terms of Use</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-two">
			<p>&copy; 2017 New York University Campus Transportation Itinerary Planner</p>
			<p>All Rights Reserved</p>
			<img src="{{ url_for('static', filename='miny_wht_on_trans.gif') }}" alt="Made in NY Logo" width="50" height="50">
		</div>
	</body>
</html>
