{% import "Header.html" as header %}
{{ header.header("Request Password Reset", current_user) }}
		<div class="first-request-image form-section">
			<div class="first-request-image-form form-container form-container-single-column">
				

				<h1>Request Password Reset</h1>
				<p>We all forget our passwords sometimes!</p>
				<form action="/reset_password_request" method="post">
					{{ form.hidden_tag() }}
					<div class="form-table">
						<div>
							<span>
								{{ form.email(placeholder = "Email*") }}
								{% for error in form.email.errors %}
									<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</span>
						</div>
					</div>
					<div class="form-actions">
							{{ form.submit() }}
					</div>
				</form>
				<p>* indicates a required field</p>
			</div>
		</div>
{% include "Footer.html" %}
