{% import "Header.html" as header %}
{{ header.header("Reset Password", current_user) }}
		<div class="first-reset-image form-section">
			<div class="first-reset-image-form form-container form-container-single-column">
				<h1>Reset Password</h1>
				<p>We all forget our passwords sometimes!</p>
				<form action="" method="post">
				{{ form.hidden_tag() }}
				<div class="form-table">
					<div>
						<span>
							{{ form.password(placeholder="Type a password*") }}
							{% for error in form.password.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</span>
					</div>
					<div>
						<span>
							{{ form.password2(placeholder="Retype the password*") }}
							{% for error in form.password2.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</span>
					</div>
					<div class="form-actions">
						{{ form.submit() }}
					</div>
				</div>	
				</form>
				<p>* indicates a required field</p>
			</div>
		</div>
{% include "Footer.html" %}
